.root {
  li {
    display: inline-flex;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      padding: 10px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
}
